body{
    background-image: url('img/sign up-01.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

}

.navbar{
    background-color: #D0F6F8;
}


.navbar{
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
}

.navbar:hover{
    color: #3F23F7;
}

.navbar li a{
    color: #64BDFC;
    font-weight: bolder;
    font-size: 18px;
    display: inline-block;
    margin-right: 100%;
}

.navbar li a:hover{
    color: #3F23F7;
}

.login{
	margin-top: 280px;
}

.form-control{
    width: 350px;
}

@media(max-width:767px) {

body{
    background-image: url('img/sign up-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
   
nav{
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 10;
}

.navbar li a{
    color: #64BDFC;
    font-weight: bolder;
    font-size: 15px;
    margin-right: 100%;
}
}

@media (max-width: 480px) {

body{
    background-image: url('img/sign up-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 10;
}

.login{
	margin-top: 150px;
}

.form-control{
    width: 250px;
}

.navbar li a{
    color: #64BDFC;
    font-weight: bolder;
    font-size: 10px;
    margin-right: 100%;
}
}